<header class="w-full flex justify-between items-center bg-white shadow-sm h-16 px-6">
    <div class="flex items-center gap-3">
        <label for="tenant-select" class="text-sm font-semibold text-gray-500 uppercase tracking-wider">Cabinet
            :</label>

        <select id="tenant-select" #tenantSelect (change)="onTenantChange(tenantSelect.value)"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2 font-medium cursor-pointer outline-none">

            @for (tenant of tenants; track tenant.id) {
            <option [value]="tenant.id" [selected]="tenant.id === selectedTenantId">
                {{ tenant.name }}
            </option>
            }
        </select>
    </div>

    <div class="flex items-center gap-4">
        <span class="text-sm text-gray-500">Jean Dupont</span>
        <a routerLink="/login"
            class="px-4 py-2 bg-red-50 text-red-600 rounded hover:bg-red-100 text-sm font-medium transition-colors cursor-pointer no-underline">
            Déconnexion
        </a>
    </div>
</header>